In [33]:
from typing import Optional, List

import pandas as pd

In [2]:
XLSX_URLS = {
    # urls to excel files are consistent between 2011 and 2018
    ** {
        year: f'https://www.denvergov.org/media/gis/DataCatalog/water_quality/{year}WaterQuality.xlsx'
        for year in range(2011, 2019)
    },
    # someone put spaces in the filename for 2019 ...
    2019: 'https://www.denvergov.org/media/gis/DataCatalog/water_quality/2019%20Water%20Quality%20data.xlsx',
    # the url for 2020 is different too
    2020: 'https://www.denvergov.org/media/gis/DataCatalog/water_quality/2020WaterQualityData.xlsx',
}

In [78]:
COLUMNS = [
         'sys_loc_code',
         'loc_desc',
         'sample_date',
         'matrix_code',
         'lab_name_code',
         'analytic_method',
         'fraction',
         'cas_rn',
         'chemical_name',
         'report_result_value',
         'report_result_unit',
         'report_result_limit',
         'validator_qualifiers',
         'lab_qualifiers',
         'longitude',
         'latitude'
    ]
def read_water_quality_data(url: str, columns = None) -> pd.DataFrame:
    if columns is None:
        columns = COLUMNS
    df = pd.read_excel(
        url
    )
    sorted_columns = list(
        sorted(c for c in columns if c in df.columns))
    return df[sorted_columns]    

def read_all_water_quality_data(urls: Optional[List[str]] = None) -> pd.DataFrame:
    if not urls:
        urls = list(XLSX_URLS.values())
    return pd.concat([read_water_quality_data(url) for url in urls])

In [76]:
# check that read_water_quality_data reads a dataframe for each year
for year, url in XLSX_URLS.items():
    print('-' * 80)
    print('year: ', year)
    print('-' * 80)
    print(read_water_quality_data(url).head())
    print('-' * 80)

--------------------------------------------------------------------------------
year:  2011
--------------------------------------------------------------------------------
  analytic_method cas_rn           chemical_name fraction lab_name_code  \
0           150.1      1                      pH        N           DEH
1           180.1    514               Turbidity        N           DEH
2            2510    139    Specific Conductance        N           DEH
3          2540-C    TDS  Total Dissolved Solids        T    WASTEWATER
4          2540-D    TSS  Total Suspended Solids        T    WASTEWATER

  lab_qualifiers    latitude                              loc_desc  longitude  \
0            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
1            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
2            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
3            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
4              < -105.013447  Bear Creek - South Platte Confluence  39.649827

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                  0.1                 pH                 8.20
1          WS                  0.1                ntu                 3.66
2          WS                  1.0           umhos/cm               714.00
3          WS                 10.0               mg/l               233.00
4          WS                  4.0               mg/l                 4.00

          sample_date sys_loc_code  validator_qualifiers
0 2011-01-13 10:30:00         BC21                   NaN
1 2011-01-13 10:30:00         BC21                   NaN
2 2011-01-13 10:30:00         BC21                   NaN
3 2011-01-13 10:30:00         BC21                   NaN
4 2011-01-13 10:30:00         BC21                   NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2012
--------------------------------------------------------------------------------
  analytic_method cas_rn           chemical_name fraction lab_name_code  \
0           150.1      1                      pH        N           DEH
1           180.1    514               Turbidity        N           DEH
2            2510    139    Specific Conductance        N           DEH
3          2540-C    TDS  Total Dissolved Solids        T    WASTEWATER
4          2540-D    TSS  Total Suspended Solids        T    WASTEWATER

  lab_qualifiers    latitude                              loc_desc  longitude  \
0            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
1            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
2            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
3            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
4              < -105.013447  Bear Creek - South Platte Confluence  39.649827

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                  0.1                 pH                 8.40
1          WS                  0.1                ntu                 2.21
2          WS                  1.0           umhos/cm               732.00
3          WS                 10.0               mg/l               398.00
4          WS                  4.0               mg/l                 4.00

          sample_date sys_loc_code  validator_qualifiers
0 2012-02-08 10:50:00         BC21                   NaN
1 2012-02-08 10:50:00         BC21                   NaN
2 2012-02-08 10:50:00         BC21                   NaN
3 2012-02-08 10:50:00         BC21                   NaN
4 2012-02-08 10:50:00         BC21                   NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2013
--------------------------------------------------------------------------------
  analytic_method cas_rn           chemical_name fraction lab_name_code  \
0           150.1      1                      pH        N           DEH
1           180.1    514               Turbidity        N           DEH
2            2510    139    Specific Conductance        N           DEH
3          2540-C    TDS  Total Dissolved Solids        D    WASTEWATER
4          2540-D    TSS  Total Suspended Solids        T    WASTEWATER

  lab_qualifiers    latitude                              loc_desc  longitude  \
0            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
1            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
2            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
3            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
4              < -105.013447  Bear Creek - South Platte Confluence  39.649827

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                  0.1                 pH                 8.08
1          WS                  0.1                ntu                 6.70
2          WS                  1.0           umhos/cm              1320.00
3          WS                 10.0               mg/l               534.00
4          WS                  4.0               mg/l                 4.00

          sample_date sys_loc_code validator_qualifiers
0 2013-03-13 11:15:00         BC21                  NaN
1 2013-03-13 11:15:00         BC21                  NaN
2 2013-03-13 11:15:00         BC21                  NaN
3 2013-03-13 11:15:00         BC21                  NaN
4 2013-03-13 11:15:00         BC21                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2014
--------------------------------------------------------------------------------
  analytic_method cas_rn           chemical_name fraction lab_name_code  \
0           180.1    514               Turbidity        N           NaN
1            2510    139    Specific Conductance        N           NaN
2          2540-C    TDS  Total Dissolved Solids        T    WASTEWATER
3          2540-D    TSS  Total Suspended Solids        T    WASTEWATER
4            2550   TEMP             TEMPERATURE        N           NaN

  lab_qualifiers    latitude                              loc_desc  longitude  \
0            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
1            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
2            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
3            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
4            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                  0.1                ntu                 6.90
1          WS                  1.0           umhos/cm              8460.00
2          WS                 10.0               mg/L               370.00
3          WS                  4.0               mg/L                12.00
4          WS                 -5.0                  C                 4.41

          sample_date sys_loc_code validator_qualifiers
0 2014-01-30 11:05:00         BC21                  NaN
1 2014-01-30 11:05:00         BC21                  NaN
2 2014-01-30 11:05:00         BC21                  NaN
3 2014-01-30 11:05:00         BC21                  NaN
4 2014-01-30 11:05:00         BC21                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2015
--------------------------------------------------------------------------------

  analytic_method     cas_rn chemical_name fraction lab_name_code  \
0        200.7(W)  7439-95-4     Magnesium        T   TESTAMERICA
1        200.7(W)  7440-09-7     Potassium        T   TESTAMERICA
2        200.7(W)  7440-23-5        Sodium        T   TESTAMERICA
3        200.7(W)  7440-70-2       Calcium        T   TESTAMERICA
4        200.7(W)  7439-89-6          Iron        T   TESTAMERICA

  lab_qualifiers    latitude                              loc_desc  longitude  \
0            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
1              J -105.013447  Bear Creek - South Platte Confluence  39.649827
2            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
3            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827
4            NaN -105.013447  Bear Creek - South Platte Confluence  39.649827

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                200.0               ug/L              15000.0
1          WS               3000.0               ug/L               2500.0
2          WS               5000.0               ug/L              42000.0
3          WS                200.0               ug/L              55000.0
4          WS                100.0               ug/L                130.0

          sample_date sys_loc_code validator_qualifiers
0 2015-01-28 11:15:00         BC21                  NaN
1 2015-01-28 11:15:00         BC21                  NaN
2 2015-01-28 11:15:00         BC21                  NaN
3 2015-01-28 11:15:00         BC21                  NaN
4 2015-01-28 11:15:00         BC21                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2016
--------------------------------------------------------------------------------
  analytic_method cas_rn           chemical_name fraction lab_name_code  \
0           180.1    514               Turbidity        N           NaN
1            2510    139    Specific Conductance        N           NaN
2          2540-C    TDS  Total Dissolved Solids        T    WASTEWATER
3          2540-D    TSS  Total Suspended Solids        T    WASTEWATER
4            2550   TEMP             TEMPERATURE        N           NaN

  lab_qualifiers   latitude                              loc_desc   longitude  \
0            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
1            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
2            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
3            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
4            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                  0.1                ntu                 18.1
1          WS                  1.0           umhos/cm                646.0
2          WS                 10.0               mg/L                377.0
3          WS                  4.0               mg/L                 16.0
4          WS                 -5.0                  C                 11.2

          sample_date sys_loc_code validator_qualifiers
0 2016-04-13 11:47:00         BC21                  NaN
1 2016-04-13 11:47:00         BC21                  NaN
2 2016-04-13 11:47:00         BC21                  NaN
3 2016-04-13 11:47:00         BC21                  NaN
4 2016-04-13 11:47:00         BC21                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2017
--------------------------------------------------------------------------------
  analytic_method     cas_rn chemical_name fraction lab_name_code  \
0        200.7(W)  7439-89-6          Iron        T   TESTAMERICA
1        200.7(W)  7439-95-4     Magnesium        T   TESTAMERICA
2        200.7(W)  7440-09-7     Potassium        T   TESTAMERICA
3        200.7(W)  7440-23-5        Sodium        T   TESTAMERICA
4        200.7(W)  7440-70-2       Calcium        T   TESTAMERICA

  lab_qualifiers   latitude   longitude matrix_code  report_result_limit  \
0            NaN  39.738594 -105.018049          WS                100.0
1            NaN  39.738594 -105.018049          WS                200.0
2            NaN  39.738594 -105.018049          WS               3000.0
3            NaN  39.738594 -105.018049          WS               5000.0
4            NaN  39.738594 -105.018049          WS                200.0

  report_result_unit  report_result_value         sample_date sys_loc_code  \
0               ug/L                320.0 2017-01-04 10:51:00          N14
1               ug/L              16000.0 2017-01-04 10:51:00          N14
2               ug/L               6200.0 2017-01-04 10:51:00          N14
3               ug/L              64000.0 2017-01-04 10:51:00          N14
4               ug/L              68000.0 2017-01-04 10:51:00          N14

  validator_qualifiers
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2018
--------------------------------------------------------------------------------
  analytic_method     cas_rn chemical_name fraction lab_name_code  \
0        200.7(W)  7439-95-4     Magnesium        T   TESTAMERICA
1        200.7(W)  7440-09-7     Potassium        T   TESTAMERICA
2        200.7(W)  7440-23-5        Sodium        T   TESTAMERICA
3        200.7(W)  7440-70-2       Calcium        T   TESTAMERICA
4        200.7(W)  7439-98-7    Molybdenum        T   TESTAMERICA

  lab_qualifiers   latitude                              loc_desc   longitude  \
0              B  39.649827  Bear Creek - South Platte Confluence -105.013447
1              J  39.649827  Bear Creek - South Platte Confluence -105.013447
2              B  39.649827  Bear Creek - South Platte Confluence -105.013447
3              B  39.649827  Bear Creek - South Platte Confluence -105.013447
4              U  39.649827  Bear Creek - South Platte Confluence -105.013447

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                200.0               ug/L              15000.0
1          WS               3000.0               ug/L               2500.0
2          WS               5000.0               ug/L              39000.0
3          WS                200.0               ug/L              56000.0
4          WS                 20.0               ug/L                 20.0

          sample_date sys_loc_code validator_qualifiers
0 2018-01-10 11:10:00         BC21                  NaN
1 2018-01-10 11:10:00         BC21                  NaN
2 2018-01-10 11:10:00         BC21                  NaN
3 2018-01-10 11:10:00         BC21                  NaN
4 2018-01-10 11:10:00         BC21                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2019
--------------------------------------------------------------------------------
  analytic_method     cas_rn chemical_name fraction lab_name_code  \
0        200.7(W)  7439-95-4     Magnesium        T   TESTAMERICA
1        200.7(W)  7439-98-7    Molybdenum        T   TESTAMERICA
2        200.7(W)  7440-09-7     Potassium        T   TESTAMERICA
3        200.7(W)  7440-23-5        Sodium        T   TESTAMERICA
4        200.7(W)  7440-70-2       Calcium        T   TESTAMERICA

  lab_qualifiers   latitude                              loc_desc   longitude  \
0            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
1              J  39.649827  Bear Creek - South Platte Confluence -105.013447
2            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
3            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447
4            NaN  39.649827  Bear Creek - South Platte Confluence -105.013447

  matrix_code  report_result_limit report_result_unit  report_result_value  \
0          WS                200.0               ug/L              27000.0
1          WS                 20.0               ug/L                  3.1
2          WS               3000.0               ug/L               3400.0
3          WS               5000.0               ug/L              74000.0
4          WS                200.0               ug/L             100000.0

          sample_date sys_loc_code validator_qualifiers
0 2019-01-16 09:35:00         BC21                  NaN
1 2019-01-16 09:35:00         BC21                  NaN
2 2019-01-16 09:35:00         BC21                  NaN
3 2019-01-16 09:35:00         BC21                  NaN
4 2019-01-16 09:35:00         BC21                  NaN
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
year:  2020
--------------------------------------------------------------------------------

  analytic_method     cas_rn                     chemical_name fraction  \
0          2320-B         16  Alkalinity, Bicarbonate as CaCO3        T
1          2320-B         17    Alkalinity, Carbonate as CaCO3        T
2          2320-B        ALK      ALKALINITY, TOTAL (AS CACO3)        T
3        200.8(W)  7440-38-2                           Arsenic        D
4        200.8(W)  7440-38-2                           Arsenic        T

  lab_name_code lab_qualifiers   latitude  \
0   TESTAMERICA            NaN  39.649827
1   TESTAMERICA              U  39.649827
2   TESTAMERICA            NaN  39.649827
3   TESTAMERICA              U  39.649827
4   TESTAMERICA              U  39.649827

                               loc_desc   longitude matrix_code  \
0  Bear Creek - South Platte Confluence -105.013447          WS
1  Bear Creek - South Platte Confluence -105.013447          WS
2  Bear Creek - South Platte Confluence -105.013447          WS
3  Bear Creek - South Platte Confluence -105.013447          WS
4  Bear Creek - South Platte Confluence -105.013447          WS

   report_result_limit report_result_unit  report_result_value  \
0                 10.0               mg/l                150.0
1                 10.0               mg/l                 10.0
2                 10.0               mg/l                150.0
3                  2.0               ug/L                  2.0
4                  2.0               ug/L                  2.0

          sample_date sys_loc_code validator_qualifiers
0 2020-01-15 10:28:00         BC21                  NaN
1 2020-01-15 10:28:00         BC21                  NaN
2 2020-01-15 10:28:00         BC21                  NaN
3 2020-01-15 10:28:00         BC21                  NaN
4 2020-01-15 10:28:00         BC21                  NaN
--------------------------------------------------------------------------------

In [57]:
def print_column_summaries(
    df: pd.DataFrame, 
    sep: Optional[str]=None
) -> None:
    if sep is None:
        sep = '-' * 80
    for column in df.columns:
        print(sep)
        print(column)
        print(sep)
        print(df[column].head())
        print(sep)

In [77]:
# concatenate all spreadsheets into a single data frame
# this could take a while to run depending on internet connection ... go get yourself a beverage
water_quality = read_all_water_quality_data()
water_quality.head()

,analytic_method,cas_rn,chemical_name,fraction,lab_name_code,lab_qualifiers,latitude,loc_desc,longitude,matrix_code,report_result_limit,report_result_unit,report_result_value,sample_date,sys_loc_code,validator_qualifiers
0,150.1,1,pH,N,DEH,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,0.1,pH,8.20,2011-01-13 10:30:00,BC21,NaN
1,180.1,514,Turbidity,N,DEH,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,0.1,ntu,3.66,2011-01-13 10:30:00,BC21,NaN
2,2510,139,Specific Conductance,N,DEH,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,1.0,umhos/cm,714.00,2011-01-13 10:30:00,BC21,NaN
3,2540-C,TDS,Total Dissolved Solids,T,WASTEWATER,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,10.0,mg/l,233.00,2011-01-13 10:30:00,BC21,NaN
4,2540-D,TSS,Total Suspended Solids,T,WASTEWATER,<,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,4.0,mg/l,4.00,2011-01-13 10:30:00,BC21,NaN

In [59]:
water_quality.shape

(74525, 16)

In [60]:
water_quality.dtypes

sys_loc_code                    object
loc_desc                        object
sample_date             datetime64[ns]
matrix_code                     object
lab_name_code                   object
analytic_method                 object
fraction                        object
cas_rn                          object
chemical_name                   object
report_result_value            float64
report_result_unit              object
report_result_limit            float64
validator_qualifiers            object
lab_qualifiers                  object
longitude                      float64
latitude                       float64
dtype: object

In [61]:
water_quality.isna().sum()

sys_loc_code                0
loc_desc                 8006
sample_date                 0
matrix_code                 0
lab_name_code           14374
analytic_method             0
fraction                 1260
cas_rn                      0
chemical_name               0
report_result_value      2484
report_result_unit       2454
report_result_limit      3702
validator_qualifiers    72087
lab_qualifiers          50336
longitude                4829
latitude                 4829
dtype: int64

In [63]:
# fraction of entries that are not null in each column
1 - (water_quality.isna().sum() / len(water_quality))

sys_loc_code            1.000000
loc_desc                0.892573
sample_date             1.000000
matrix_code             1.000000
lab_name_code           0.807125
analytic_method         1.000000
fraction                0.983093
cas_rn                  1.000000
chemical_name           1.000000
report_result_value     0.966669
report_result_unit      0.967071
report_result_limit     0.950325
validator_qualifiers    0.032714
lab_qualifiers          0.324576
longitude               0.935203
latitude                0.935203
dtype: float64

In [13]:
print_column_summaries(water_quality)

--------------------------------------------------------------------------------
sys_loc_code
--------------------------------------------------------------------------------
0    BC21
1    BC21
2    BC21
3    BC21
4    BC21
Name: sys_loc_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
loc_desc
--------------------------------------------------------------------------------
0    Bear Creek - South Platte Confluence
1    Bear Creek - South Platte Confluence
2    Bear Creek - South Platte Confluence
3    Bear Creek - South Platte Confluence
4    Bear Creek - South Platte Confluence
Name: loc_desc, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
sample_date
--------------------------------------------------------------------------------
0   2011-01-13 10:30:00
1   2011-01-13 10:30:00
2   2011-01-13 10:30:00
3   2011-01-13 10:30:00
4   2011-01-13 10:30:00
Name: sample_date, dtype: datetime64[ns]
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
matrix_code
--------------------------------------------------------------------------------
0    WS
1    WS
2    WS
3    WS
4    WS
Name: matrix_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lab_name_code
--------------------------------------------------------------------------------
0           DEH
1           DEH
2           DEH
3    WASTEWATER
4    WASTEWATER
Name: lab_name_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
analytic_method
--------------------------------------------------------------------------------
0     150.1
1     180.1
2      2510
3    2540-C
4    2540-D
Name: analytic_method, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
fraction
--------------------------------------------------------------------------------
0    N
1    N
2    N
3    T
4    T
Name: fraction, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
cas_rn
--------------------------------------------------------------------------------
0      1
1    514
2    139
3    TDS
4    TSS
Name: cas_rn, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
chemical_name
--------------------------------------------------------------------------------
0                        pH
1                 Turbidity
2      Specific Conductance
3    Total Dissolved Solids
4    Total Suspended Solids
Name: chemical_name, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
report_result_value
--------------------------------------------------------------------------------
0      8.20
1      3.66
2    714.00
3    233.00
4      4.00
Name: report_result_value, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
report_result_unit
--------------------------------------------------------------------------------
0          pH
1         ntu
2    umhos/cm
3        mg/l
4        mg/l
Name: report_result_unit, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
report_result_limit
--------------------------------------------------------------------------------
0     0.1
1     0.1
2     1.0
3    10.0
4     4.0
Name: report_result_limit, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
validator_qualifiers
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: validator_qualifiers, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lab_qualifiers
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4      <
Name: lab_qualifiers, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
longitude
--------------------------------------------------------------------------------
0    39.649827
1    39.649827
2    39.649827
3    39.649827
4    39.649827
Name: longitude, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
latitude
--------------------------------------------------------------------------------
0   -105.013447
1   -105.013447
2   -105.013447
3   -105.013447
4   -105.013447
Name: latitude, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
facility_id
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: facility_id, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
facility_code
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: facility_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
loc_name
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: loc_name, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
loc_group
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: loc_group, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
loc_report_order
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: loc_report_order, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
sys_sample_code
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: sys_sample_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
sample_name
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: sample_name, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
sample_type_code
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: sample_type_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
start_depth
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: start_depth, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
end_depth
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: end_depth, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
depth_unit
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: depth_unit, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
geologic_unit_code
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: geologic_unit_code, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
task_code
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: task_code, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
task_desc
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: task_desc, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
field_sdg
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: field_sdg, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
parent_sample_code
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: parent_sample_code, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
analysis_location
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: analysis_location, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lab_sample_id
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: lab_sample_id, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lab_matrix_code
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: lab_matrix_code, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
analysis_date
--------------------------------------------------------------------------------
0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: analysis_date, dtype: datetime64[ns]
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
column_number
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: column_number, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
test_type
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: test_type, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
prep_method
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: prep_method, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
leachate_method
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: leachate_method, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
leachate_date
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: leachate_date, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lab_sdg
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: lab_sdg, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
percent_moisture
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: percent_moisture, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
dilution_factor
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: dilution_factor, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
method_analyte_group
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: method_analyte_group, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
report_order
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: report_order, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
test_id
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: test_id, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
organic_yn
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: organic_yn, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
report_result_text
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: report_result_text, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
reportable_result
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: reportable_result, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
detect_flag
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: detect_flag, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
interpreted_qualifiers
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: interpreted_qualifiers, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
quantitation_limit
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: quantitation_limit, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
method_detection_limit
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: method_detection_limit, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
reporting_detection_limit
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: reporting_detection_limit, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
detection_limit_unit
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: detection_limit_unit, dtype: object
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
approval_code
--------------------------------------------------------------------------------
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: approval_code, dtype: float64
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
result_text
--------------------------------------------------------------------------------
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: result_text, dtype: object
--------------------------------------------------------------------------------

In [65]:
# there aren't that many unique coordinates
len(water_quality.longitude.unique())

86

In [67]:
len(water_quality.latitude.unique())

86

In [66]:
len(water_quality.loc_desc.unique())

48

In [68]:
water_quality.loc[:, ['longitude', 'latitude']]

       longitude    latitude
0      39.649827 -105.013447
1      39.649827 -105.013447
2      39.649827 -105.013447
3      39.649827 -105.013447
4      39.649827 -105.013447
...          ...         ...
5785 -104.886637   39.723275
5786 -104.886637   39.723275
5787 -104.886637   39.723275
5788 -104.886637   39.723275
5789 -104.886637   39.723275

[74525 rows x 2 columns]

In [104]:
# latitude and longitude are switched in some rows
incorrect_latitudes = \
        (water_quality.latitude > -110) \
        & (water_quality.latitude < -100)
incorrect_latitudes.sum() / len(water_quality)

0.41088225427708824

In [105]:
pd.DatetimeIndex(water_quality[incorrect_latitudes].sample_date).year.unique()

Int64Index([2011, 2012, 2013, 2014, 2015], dtype='int64', name='sample_date')

In [106]:
water_quality[incorrect_latitudes]

,analytic_method,cas_rn,chemical_name,fraction,lab_name_code,lab_qualifiers,latitude,loc_desc,longitude,matrix_code,report_result_limit,report_result_unit,report_result_value,sample_date,sys_loc_code,validator_qualifiers
0,150.1,1,pH,N,DEH,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,0.1,pH,8.20,2011-01-13 10:30:00,BC21,NaN
1,180.1,514,Turbidity,N,DEH,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,0.1,ntu,3.66,2011-01-13 10:30:00,BC21,NaN
2,2510,139,Specific Conductance,N,DEH,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,1.0,umhos/cm,714.00,2011-01-13 10:30:00,BC21,NaN
3,2540-C,TDS,Total Dissolved Solids,T,WASTEWATER,NaN,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,10.0,mg/l,233.00,2011-01-13 10:30:00,BC21,NaN
4,2540-D,TSS,Total Suspended Solids,T,WASTEWATER,<,-105.013447,Bear Creek - South Platte Confluence,39.649827,WS,4.0,mg/l,4.00,2011-01-13 10:30:00,BC21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7438,2550,TEMP,TEMPERATURE,N,NaN,NaN,-104.886637,Westerly Creek on east side - 4th Place,39.723275,WS,-5.0,C,18.01,2015-09-10 09:20:00,WN3,NaN
7439,4500-O-G,201,Dissolved Oxygen,D,NaN,NaN,-104.886637,Westerly Creek on east side - 4th Place,39.723275,WS,0.1,mg/L,6.34,2015-09-10 09:20:00,WN3,NaN
7440,9222-D,ECOLI,E.Coli,N,WASTEWATER,NaN,-104.886637,Westerly Creek on east side - 4th Place,39.723275,WS,10.0,cfu/100ml,540.00,2015-09-10 09:20:00,WN3,NaN
7441,I1586,1,pH,N,NaN,NaN,-104.886637,Westerly Creek on east side - 4th Place,39.723275,WS,0.1,pH,8.02,2015-09-10 09:20:00,WN3,NaN
7442,Visual/Manual,348,Oil and Grease,N,NaN,NaN,-104.886637,Westerly Creek on east side - 4th Place,39.723275,WS,NaN,NaN,NaN,2015-09-10 09:20:00,WN3,NaN

In [107]:
water_quality[~incorrect_latitudes]

,analytic_method,cas_rn,chemical_name,fraction,lab_name_code,lab_qualifiers,latitude,loc_desc,longitude,matrix_code,report_result_limit,report_result_unit,report_result_value,sample_date,sys_loc_code,validator_qualifiers
128,150.1,1,pH,N,DEH,NaN,NaN,NaN,NaN,WS,0.1,pH,7.900000,2011-02-10 10:15:00,BC32,NaN
129,180.1,514,Turbidity,N,DEH,NaN,NaN,NaN,NaN,WS,0.1,ntu,1.400000,2011-02-10 10:15:00,BC32,NaN
130,2510,139,Specific Conductance,N,DEH,NaN,NaN,NaN,NaN,WS,1.0,umhos/cm,1062.000000,2011-02-10 10:15:00,BC32,NaN
131,2540-C,TDS,Total Dissolved Solids,T,WASTEWATER,NaN,NaN,NaN,NaN,WS,10.0,mg/l,598.000000,2011-02-10 10:15:00,BC32,NaN
132,2540-D,TSS,Total Suspended Solids,T,WASTEWATER,<,NaN,NaN,NaN,WS,4.0,mg/l,4.000000,2011-02-10 10:15:00,BC32,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5785,Visual/Manual,348,Oil and Grease,NaN,DDPHE,NaN,39.723275,Westerly Creek on east side - 4th Place,-104.886637,WS,NaN,NaN,NaN,2020-09-30 09:18:00,WN5b,NaN
5786,I1586,1,pH,NaN,DDPHE,NaN,39.723275,Westerly Creek on east side - 4th Place,-104.886637,WS,0.1,pH,6.974232,2020-09-30 09:18:00,WN5b,NaN
5787,2510,139,Specific Conductance,NaN,DDPHE,NaN,39.723275,Westerly Creek on east side - 4th Place,-104.886637,WS,1.0,umhos/cm,1793.243000,2020-09-30 09:18:00,WN5b,NaN
5788,2550,TEMP,TEMPERATURE,NaN,DDPHE,NaN,39.723275,Westerly Creek on east side - 4th Place,-104.886637,WS,-5.0,C,11.547430,2020-09-30 09:18:00,WN5b,NaN
5789,180.1,514,Turbidity,NaN,DDPHE,NaN,39.723275,Westerly Creek on east side - 4th Place,-104.886637,WS,0.1,ntu,26.356410,2020-09-30 09:18:00,WN5b,NaN